#welcome {
    height: 100vh;
    background: rgba(239, 239, 237, 0.2);
    /* background: #ffe228; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
}