<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Logistica: Portfolio website showcasing achievements, projects, and products.">
    <meta name="keywords" content="Logistics, Bangladesh, Logistica, Toys, Clothes, Writingpads, Notebooks, Event Kits">
    <meta name="author" content="Avik Arefin">
    <title>Logistica</title>
    <link href="css/theme.css" rel="stylesheet" type="text/css">
    <!-- TITLEBAR ICON -->
    <link rel="icon" href="images/icon.png" type="image/png">
    <!-- ICONS [BOOTSTRAP] -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css?v=1.11.3">
    <!-- FONTS [JOST] -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/welcome.css">
    <link rel="stylesheet" href="css/social-links.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/marquee.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/numbers.css">
    <!-- HTMX Library -->
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
</head>

<body>
    <div class="site">
        <nav>
            <div class="nav-container">
                <a href="#" hx-get="./pages/main.html" hx-target="#main" hx-swap="innerHTML">
                    <img src="images/icon.png" alt="Logistica" class="nav-icon">
                </a>

                <div class="nav-bar">
                    <ul class="nav-links">
                        <li>
                            <a href="#" hx-get="./pages/main.html" hx-target="#main" hx-swap="innerHTML">HOME</a>
                        </li>
                        <li>
                            <a href="#" hx-get="./pages/about.html" hx-target="#main" hx-swap="innerHTML">ABOUT</a>
                        </li>
                        <li>
                            <a href="#" hx-get="./pages/contact.html" hx-target="#main" hx-swap="innerHTML">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main" hx-get="./pages/main.html" hx-trigger="load" hx-swap="innerHTML">
            <!-- Content will be loaded here dynamically -->
        </div>
        <hr style="border-color: rgb(0, 0, 0);">
        <footer id="footer">
            <!-- Social Media Links -->
            <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                <a class="icon-button" href="https://www.facebook.com/logistica.com24/" target="_blank">
                    <div class="circle"></div> <i class="icon bi bi-facebook large"></i>
                </a>
                <a class="icon-button" href="https://www.instagram.com/logistica.com24" target="_blank">
                    <div class="circle"></div> <i class="icon bi bi-instagram large"></i>
                </a>
                <details>
                    <summary>
                        <div class="icon-button">
                            <div class="circle"></div> <i class="icon bi bi-envelope large"></i>
                        </div>
                    </summary>
                    <ul>
                        <li>
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hey.logistica@gmail.com">Gmail</a>
                        </li>
                        <li>
                            <a href="https://compose.mail.yahoo.com/?to=hey.logistica@gmail.com">Yahoo Mail</a>
                        </li>
                        <li>
                            <a
                                href="https://outlook.office.com/mail/deeplink/compose?to=hey.logistica@gmail.com">Outlook</a>
                        </li>
                    </ul>
                </details>
            </div>
            <hr style="border-color: black;">
            <!-- Section: Links -->
            <section class="footer-container">
                <!-- <div class="footer-column"> -->
                <img class="logo" src="images/logo.png" alt="Logistica Logo">
                <!-- </div> -->
                <div class="row">
                    <div class="footer-column">
                        <h5>Brand</h5>
                        <hr class="footer-divider" />
                        <p><a href="#">Brand Profile</a></p>
                        <p><a href="#" hx-get="./pages/contact.html" hx-target="#main" hx-swap="innerHTML">Contact
                                Us</a></p>
                        <p><a href="#" hx-get="./pages/about.html" hx-target="#main" hx-swap="innerHTML">About Us</a>
                        </p>
                    </div>
                    <div class="footer-column">
                        <h5>Products & Projects</h5>
                        <hr class="footer-divider" />
                        <p><a href="#">Products</a></p>
                        <p><a href="#">Projects</a></p>
                    </div>
                    <div class="footer-column">
                        <h5>Others</h5>
                        <hr class="footer-divider" />
                        <p><a href="#">Invest In Us</a></p>
                        <p><a href="https://bscf.dev" target="_blank" rel="noopener noreferrer">Our Social Wing</a></p>
                        <p><a href="#">Our Partners</a></p>
                        <p><a href="#" hx-get="./pages/privacypolicy.html" hx-target="#main" hx-swap="innerHTML">Privacy
                                Policy</a></p>
                        <p><a href="#" hx-get="./pages/tos.html" hx-target="#main" hx-swap="innerHTML">Terms of
                                Service</a></p>
                    </div>
                </div>
                <div class="slider slider-bottom" reverse="true" style="
            --width: 1300px;
            --height: 300px;
            --quantity: 4;   
            ">
                    <div class="list">
                        <div class="item" style="--position: 1">LOGISTICA</div>
                        <div class="item" style="--position: 2">LOGISTICA</div>
                        <div class="item" style="--position: 3">LOGISTICA</div>
                        <div class="item" style="--position: 4">LOGISTICA</div>
                    </div>
                </div>
            </section>
            <div id="footer-copyright"> <i class="bi bi-c-circle mini"></i> 2025 All rights reserved by Logistica.
            </div>
        </footer>
    </div>
    <script>
        document.body.addEventListener('htmx:afterSwap', function () {
            window.scrollTo(0, 0);
        });
    </script>
</body>

</html>